.tile {
  padding: ~'@{sizeMD}px';
  border-radius: ~'@{borderRadiusLG}px';
  border: 1px solid var(--kargo-color-border, @colorBorder);
  text-decoration: none !important;
  background-color: var(--kargo-color-bg-container, @colorBgBase);
  transition: border-color .1s;
  color: inherit;

  &:hover {
    border-color: var(--kargo-tile-hover-border, rgba(@colorPrimary, 0.5));
  }
}
