.tile {
  padding: ~'@{sizeMD}px';
  border-radius: ~'@{borderRadiusLG}px';
  box-shadow: 1px 1px #424242;
  border: 1px solid #424242;
  text-decoration: none !important;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: white;
}
