{{- if .Values.api.adminAccount.enabled }}
apiVersion: v1
kind: Secret
type: Opaque
metadata:
  name: {{ include "kargo.api.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
    {{- include "kargo.api.labels" . | nindent 4 }}
stringData:
  adminPassword: {{ quote .Values.api.adminAccount.password }}
  tokenSigningKey: {{ quote .Values.api.adminAccount.tokenSigningKey }}
{{- end }}
