@tailwind base;
@tailwind components;
@tailwind utilities;

.ant-btn {
    box-shadow: none !important;
}

.ant-modal-title {
    font-size: 20px !important;
    margin-bottom: 16px !important;
}

.ant-modal-footer {
    margin-top: 24px !important;
}
