/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --generic-bg: #fff;
  --generic-color: #000;

  --ifm-color-primary: #e87878;
  --ifm-color-primary-dark: #e35a5a;
  --ifm-color-primary-darker: #e04b4b;
  --ifm-color-primary-darkest: #d32424;
  --ifm-color-primary-light: #ed9696;
  --ifm-color-primary-lighter: #f0a5a5;
  --ifm-color-primary-lightest: #f7d2d2;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);

  /* Search */
  --aa-primary-color-rgb: 120, 120, 120 !important;
  --aa-muted-color-rgb: 120, 120, 120 !important;

  --btn-primary-bg: var(--ifm-color-primary-dark);
  --btn-primary-shadow: var(--ifm-color-primary-lightest);
  --btn-primary-hover-bg: var(--ifm-color-primary-darker);
  --btn-primary-hover-shadow: var(--ifm-color-primary-lighter);
  --btn-primary-active-bg: var(--ifm-color-primary-darkest);
  --btn-primary-active-shadow: var(--ifm-color-primary-lightest);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --generic-bg: #252526;
  --generic-color: #fff;

  --ifm-color-primary: #e87878;
  --ifm-color-primary-dark: #e35a5a;
  --ifm-color-primary-darker: #e04b4b;
  --ifm-color-primary-darkest: #d32424;
  --ifm-color-primary-light: #ed9696;
  --ifm-color-primary-lighter: #f0a5a5;
  --ifm-color-primary-lightest: #f7d2d2;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);

  /* Search */
  --aa-primary-color-rgb: 232, 232, 232 !important;
  --aa-muted-color-rgb: 190, 190, 190 !important;
  --aa-background-color-rgb: 32, 32, 32 !important;
  --aa-selected-color-rgb: 70, 70, 70 !important;
  --aa-input-border-color-rgb: 126, 126, 126 !important;
  --aa-input-background-color-rgb: 32, 32, 32 !important;


  --btn-primary-bg: #252526;
  --btn-primary-shadow: transparent;
  --btn-primary-hover-bg: #252526;
  --btn-primary-hover-shadow: transparent;
  --btn-primary-active-bg: #252526;
  --btn-primary-active-shadow: transparent;
}

.btn {
  font-family: 'Arial', sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-align: center;
  display: inline-block;
}

.btn-primary {
  background-color: var(--btn-primary-bg);
  color: white;
  box-shadow: 0 4px 6px var(--btn-primary-shadow);
}

.btn-primary:hover {
  background-color: var(--btn-primary-hover-bg);
  box-shadow: 0 6px 8px var(--btn-primary-hover-shadow);
}

.btn-primary:active {
  background-color: var(--btn-primary-active-bg);
  box-shadow: 0 3px 4px var(--btn-primary-active-shadow);
  transform: translateY(2px);
}

main.landing-page {
  a.highlight {
    text-decoration: underline;
  }

  a:hover {
    text-decoration: none !important;
  }
}