apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kargo-admin
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - "*"
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kargo-api
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  {{- if .Values.api.secretManagementEnabled }}
  - "*"
  {{- else }}
  - get
  - list
  - watch
  {{- end }}
