apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kargo-admin
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  verbs:
  - "*"
---
{{/*
Ability to view the kargo built-in roles (ServiceAccounts) and API tokens (Secrets)
that reside in the kargo namespace and displayed on the Kargo system settings page.
NOTE: although this grants read privileges on secrets, only API token related secrets 
are returned by the Kargo API, and actual secret data contents are always redacted.
*/}}
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: kargo-role-token-reader
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
rules:
- apiGroups:
  - ""
  resources:
  - secrets
  - serviceaccounts
  verbs:
  - get
  - list
  - watch
- apiGroups:
  - rbac.authorization.k8s.io
  resources:
  - rolebindings
  - roles
  verbs:
  - get
  - list
  - watch
