{{- if .Values.api.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kargo-admin
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
  {{- if .Values.api.oidc.admins.claims }}
  annotations:
    {{- range $claim, $values := .Values.api.oidc.admins.claims }}
    rbac.kargo.akuity.io/claim.{{ $claim }}: {{ quote (join "," $values) }}
    {{- end }}
    rbac.kargo.akuity.io/claims: |
    {{- range $claim, $values := .Values.api.oidc.admins.claimsv2 }}
      {{ quote ($claim) }}: {{ quote (join "," $values) }}
    {{- end }}
  {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kargo-project-creator
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
  {{- if .Values.api.oidc.projectCreators.claims }}
  annotations:
    {{- range $claim, $values := .Values.api.oidc.projectCreators.claims }}
    rbac.kargo.akuity.io/claim.{{ $claim }}: {{ quote (join "," $values) }}
    {{- end }}
    rbac.kargo.akuity.io/claims: |
    {{- range $claim, $values := .Values.api.oidc.projectCreators.claimsv2 }}
      {{ quote ($claim) }}: {{ quote (join "," $values) }}
    {{- end }}
  {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kargo-user
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
  {{- if .Values.api.oidc.users.claims }}
  annotations:
    {{- range $claim, $values := .Values.api.oidc.users.claims }}
    rbac.kargo.akuity.io/claim.{{ $claim }}: {{ quote (join "," $values) }}
    {{- end }}
    rbac.kargo.akuity.io/claims: |
    {{- range $claim, $values := .Values.api.oidc.users.claimsv2 }}
      {{ quote ($claim) }}: {{ quote (join "," $values) }}
    {{- end }}
  {{- end }}
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kargo-viewer
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
  {{- if .Values.api.oidc.viewers.claims }}
  annotations:
    {{- range $claim, $values := .Values.api.oidc.viewers.claims }}
    rbac.kargo.akuity.io/claim.{{ $claim }}: {{ quote (join "," $values) }}
    {{- end }}
    rbac.kargo.akuity.io/claims: |
    {{- range $claim, $values := .Values.api.oidc.viewers.claimsv2 }}
      {{ quote ($claim) }}: {{ quote (join "," $values) }}
    {{- end }}
  {{- end }}
{{- end }}
