{{- if .Values.garbageCollector.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: {{ include "kargo.garbageCollector.fullname" . }}
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
    {{- include "kargo.garbageCollector.labels" . | nindent 4 }}
{{- end }}
