{{- if .Values.garbageCollector.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kargo-garbage-collector
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
    {{- include "kargo.garbageCollector.labels" . | nindent 4 }}
  {{- with (mergeOverwrite (deepCopy .Values.global.serviceAccount.annotations) .Values.garbageCollector.serviceAccount.annotations) }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
