api:
  logLevel: DEBUG
  host: localhost:30081
  tls:
    enabled: false
  permissiveCORSPolicyEnabled: true
  probes:
    enabled: false
  adminAccount:
    # The password is 'admin'
    passwordHash: "$2a$10$Zrhhie4vLz5ygtVSaif6o.qN36jgs6vjtMBdM6yrU1FOeiAAMMxOm"
    tokenSigningKey: iwishtowashmyirishwristwatch
  rollouts:
    logs:
      enabled: true
      urlTemplate: https://tinyurl.com/mrxabed8
  oidc:
    enabled: true
    dex:
      enabled: true
      connectors:
      - id: mock
        name: Example
        type: mockCallback
      probes:
        enabled: false
    admins:
      claims:
        email:
        # This email claim is hard-coded in the Dex mockCallback connector
        - kilgore@kilgore.trout
controller:
  logLevel: DEBUG
crds:
  install: true
managementController:
  logLevel: DEBUG
webhooksServer:
  logLevel: DEBUG
garbageCollector:
  logLevel: DEBUG