.header {
  width: 100%;
  display: flex;
  align-items: center;
  font-size: 1.25em;
  font-weight: 500;
  margin-bottom: 2em;
  padding-bottom: 1em;
  border-bottom: 1px solid rgb(230, 230, 230);
}

.envTitleContainer {
  font-size: 2em;
  font-weight: 600;
  margin-right: auto;
}

.envTitle {
  display: flex;
  align-items: center;
  justify-content: center;
}

.envTitleLabel {
  font-size: 12px;
  color: rgb(122, 122, 122);
  font-weight: 500;
  margin-top: 0.5em;
}

.sectionTitle {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
}

.subscriptionSection {
  margin-bottom: 1em;
}

.subscriptionSectionTitle {
  font-size: 1em;
  font-weight: 600;
  margin-bottom: 1em;
}
