.version_dropdown {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    position: relative;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1rem;
    font-weight: bold;
    width: 73px;
    text-align: center;
}

.version_dropdown option {
    font-weight: normal; /* Keeps options normal weight */
}

@media (max-width: 996px) {
    .navbar__items--right .version_dropdown {
        display: none;
    }
}
