.version_dropdown {
    appearance: none;
    -webkit-appearance: none; /* For Safari */
    -moz-appearance: none; /* For Firefox */
    position: relative;
    background-color: transparent;
    border: 1px solid #ccc;
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 1rem;
    font-family: 'Monospace', 'Roboto', 'Open Sans', 'Lato', 'Courier New', monospace;
    font-weight: bold;
}

.version_dropdown option {
    font-weight: normal; /* Keeps options normal weight */
}
