.container {
  min-height: 100vh;
  background: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: ~'@{sizeMD}px';
  gap: 40px;
}

.box {
  max-width: 100%;
  width: 360px;
  background-color: black;
  border: 2px solid #333;
  padding: ~'@{sizeLG}px';
  border-radius: ~'@{borderRadiusLG}px';
}

.logo {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
  gap: 15px;
  font-size: 24px;
  font-weight: 600;
  margin-top: -100px;

  img {
    width: 70px;
  }
}
