---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.10.0
  creationTimestamp: null
  name: tickets.k8sta.akuity.io
spec:
  group: k8sta.akuity.io
  names:
    kind: Ticket
    listKind: TicketList
    plural: tickets
    singular: ticket
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Ticket is the Schema for the tickets API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          change:
            description: Change encapsulates the specific change this Ticket is meant
              to progress through a series of Stations.
            properties:
              baseConfiguration:
                description: BaseConfiguration
                properties:
                  commit:
                    description: Commit is the commit ID (sha) of a commit to a git
                      repository's source branch that contains changes to be progressed
                      along a Track.
                    type: string
                type: object
              newImages:
                description: NewImage encapsulates the details of one or more new
                  images that are to be progressed through a series of Stations.
                properties:
                  images:
                    items:
                      description: Image encapsulates the details of a single image.
                      properties:
                        imageRepo:
                          description: Repo denotes the image (without tag) that is
                            to be progressed through a series of Stations.
                          type: string
                        imageTag:
                          description: Tag qualifies which image from the repository
                            specified by the Repo field is to be progressed through
                            a series of Stations.
                          type: string
                      type: object
                    type: array
                type: object
            type: object
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          source:
            description: Source indicates how this ticket entered the system.
            type: string
          status:
            description: Status encapsulates the status of the Ticket.
            properties:
              progress:
                description: Progress
                items:
                  description: ProgressRecord records a single bit of a Ticket's progress
                    along its Track. Only one of its fields may be non-nil. Compare
                    this to how a EnvVarSource or VolumeSource works in the core Kubernetes
                    API.
                  properties:
                    migration:
                      description: Migration represents a bit of a Ticket's progress
                        along a Track involving migration from one Station to another.
                      properties:
                        commits:
                          description: Commits records all git commits made to effect
                            the migration to TargetStation.
                          items:
                            description: Commit represents a git commit made with
                              the intent to effect an update to a specific Argo CD
                              Application.
                            properties:
                              sha:
                                description: SHA records the ID of the git commit.
                                type: string
                              targetApplication:
                                description: TargetApplication records the Argo CD
                                  Application resource for which this Commit was intended
                                  to effect an update.
                                type: string
                            type: object
                          type: array
                        completed:
                          description: Completed indicates the time the migration
                            completed. A nil value means the migration is not yet
                            complete.
                          format: date-time
                          type: string
                        skippedApplications:
                          description: SkippedApplications lists Applications referenced
                            by the TargetStation that were bypassed during this Migration
                            because they were disabled.
                          items:
                            type: string
                          type: array
                        skippedTracks:
                          description: SkippedTracks lists Tracks referenced by the
                            TargetStation that were bypassed during this Migration
                            because they were disabled.
                          items:
                            type: string
                          type: array
                        started:
                          description: Started indicates the time the migration started.
                          format: date-time
                          type: string
                        targetStation:
                          description: TargetStation indicates the Station on the
                            associated Track into which this Migration aims to migrate
                            the change represented by the Ticket.
                          type: string
                        tickets:
                          description: Tickets is a list of references to Ticket resources
                            created to progress the same change represented by this
                            Ticket down another Track.
                          items:
                            description: TicketReference is a reference to a Ticket.
                            properties:
                              name:
                                description: Name is the name of a Ticket.
                                type: string
                              track:
                                description: Track is the name of the Track this Ticket
                                  references. This information is duplicated here
                                  for operator convenience.
                                type: string
                            type: object
                          type: array
                      type: object
                    skippedStation:
                      description: SkippedStation represents a bit of a Ticket's progress
                        along a Track involving a Station that was bypassed because
                        it was disabled.
                      type: string
                  type: object
                type: array
              state:
                description: TicketState represents the overall state of the Ticket.
                type: string
              stateReason:
                description: StateReason provides context for why the Ticket is in
                  the State that it is.
                type: string
            type: object
          track:
            description: Track is a reference to a K8sTA Track.
            type: string
        type: object
    served: true
    storage: true
    subresources:
      status: {}
