---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.9.0
  creationTimestamp: null
  name: tracks.k8sta.akuity.io
spec:
  group: k8sta.akuity.io
  names:
    kind: Track
    listKind: TrackList
    plural: tracks
    singular: track
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Track is the Schema for the tracks API
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec encapsulates the desired state of a Track.
            properties:
              configManagement:
                description: ConfigManagement encapsulates details of which configuration
                  management tool is to be used for this Track and, if applicable,
                  configuration options for the selected tool.
                properties:
                  helm:
                    description: Helm encapsulates optional Helm configuration options.
                    properties:
                      releaseName:
                        description: ReleaseName specified the release name that will
                          be used when running `helm template <release name> <chart>
                          --values <values>`
                        type: string
                    type: object
                  kustomize:
                    description: Kustomize encapsulates optional Kustomize configuration
                      options.
                    type: object
                  ytt:
                    description: Ytt encapsulates optional ytt configuration options.
                    type: object
                type: object
              disabled:
                description: Disabled indicates whether this Track is disabled.
                type: boolean
              gitRepositorySubscription:
                description: GitRepositorySubscription specifies a git repository
                  that the Track is subscribed to. When changes are detected in the
                  source branch of that repository and they are deemed to affect base
                  configuration (all environments), a new Ticket will be created to
                  effect progression of the change through the Track's Stations.
                properties:
                  repoURL:
                    description: RepoURL specifies the URL of the git repository to
                      subscribe to.
                    type: string
                type: object
              imageRepositorySubscriptions:
                description: ImageRepositorySubscriptions specifies image repositories
                  that the Track is subscribed to. When a push to any one of these
                  repositories is detected, a new Ticket will be created to effect
                  progression of the new image through the Track's Stations.
                items:
                  description: ImageRepositorySubscription defines a subscription
                    to an image repository.
                  properties:
                    allowTags:
                      description: AllowTags is a regular expression that can optionally
                        be used to limit the image tags that are considered in determining
                        the newest version of an image.
                      type: string
                    ignoreTags:
                      description: IgnoreTags is a list of tags that must be ignored
                        when determining the newest version of an image. No regular
                        expressions or glob patterns are supported yet.
                      items:
                        type: string
                      type: array
                    pullSecret:
                      description: PullSecret is a reference to a Kubernetes Secret
                        containing repository credentials. If left unspecified, K8sTA
                        will fall back on globally configured repository credentials,
                        if they exist.
                      type: string
                    repoURL:
                      description: RepoURL specifies the URL of the image repository
                        to subscribe to. The value in this field MUST NOT include
                        an image tag.
                      type: string
                    updateStrategy:
                      description: UpdateStrategy specifies the rules for how to identify
                        the newest version of the image specified by the RepoURL field.
                      type: string
                  type: object
                type: array
              stations:
                description: Stations enumerates points along the Track through which
                  a change represented by a Ticket may be progressed.
                items:
                  description: Station represents a single point on a Track through
                    which a change represented by a Ticket may be progressed.
                  properties:
                    applications:
                      description: Applications is a list of references to existing
                        Argo CD Applications. Progressing through the Station is effected
                        via deployment of each of these Applications.
                      items:
                        description: ApplicationReference is a reference to an existing
                          Argo CD Application.
                        properties:
                          disabled:
                            description: Disabled indicates whether deployments to
                              the referenced Argo CD Application should be bypassed
                              as changes progress along the Track.
                            type: boolean
                          name:
                            description: Name is the name of an existing Argo CD Application.
                            type: string
                        type: object
                      type: array
                    disabled:
                      description: Disabled indicates whether this Station is disabled
                        and effectively removed from the Track.
                      type: boolean
                    name:
                      description: Name is a name for the Station.
                      type: string
                    tracks:
                      description: Tracks is a list of references to other existing
                        K8sTA Track resources. When the change represented by a Ticket
                        reaches this Station, a new Ticket representing the same change
                        will be created for each of these Tracks. i.e. This permits
                        the composition of complex tracks from segments of linear
                        Track.
                      items:
                        description: TrackReference is a reference to a Track.
                        properties:
                          disabled:
                            description: Disabled indicates whether the junction represented
                              by this TrackReference should be ignored as changes
                              progress along the Track making the reference.
                            type: boolean
                          name:
                            description: Name is the name of an existing Track.
                            type: string
                        type: object
                      type: array
                  type: object
                type: array
            type: object
          status:
            description: Status encapsulates the status of the Track.
            properties:
              gitSyncStatus:
                description: GitSyncStatus encapsulates the details of what point
                  in a repository was last synced to and when.
                properties:
                  commit:
                    description: Commit is the commit ID (sha) found at HEAD at the
                      time of the last sync.
                    type: string
                  time:
                    description: Time is the time of the most recent sync.
                    format: date-time
                    type: string
                type: object
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
