---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.13.0
  name: warehouses.kargo.akuity.io
spec:
  group: kargo.akuity.io
  names:
    kind: Warehouse
    listKind: WarehouseList
    plural: warehouses
    singular: warehouse
  scope: Namespaced
  versions:
  - name: v1alpha1
    schema:
      openAPIV3Schema:
        description: Warehouse is a source of Freight.
        properties:
          apiVersion:
            description: 'APIVersion defines the versioned schema of this representation
              of an object. Servers should convert recognized schemas to the latest
              internal value, and may reject unrecognized values. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources'
            type: string
          kind:
            description: 'Kind is a string value representing the REST resource this
              object represents. Servers may infer this from the endpoint the client
              submits requests to. Cannot be updated. In CamelCase. More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds'
            type: string
          metadata:
            type: object
          spec:
            description: Spec describes sources of artifacts.
            properties:
              subscriptions:
                description: Subscriptions describes sources of artifacts to be included
                  in Freight produced by this Warehouse.
                items:
                  description: RepoSubscription describes a subscription to ONE OF
                    a Git repository, a container image repository, or a Helm chart
                    repository.
                  properties:
                    chart:
                      description: Chart describes a subscription to a Helm chart
                        repository.
                      properties:
                        name:
                          description: Name specifies the name of a Helm chart to
                            subscribe to within a classic chart repository specified
                            by the RepoURL field. This field is required when the
                            RepoURL field points to a classic chart repository and
                            MUST otherwise be empty.
                          type: string
                        repoURL:
                          description: RepoURL specifies the URL of a Helm chart repository.
                            It may be a classic chart repository (using HTTP/S) OR
                            a repository within an OCI registry. Classic chart repositories
                            can contain differently named charts. When this field
                            points to such a repository, the Name field MUST also
                            be used to specify the name of the desired chart within
                            that repository. In the case of a repository within an
                            OCI registry, the URL implicitly points to a specific
                            chart and the Name field MUST NOT be used. The RepoURL
                            field is required.
                          minLength: 1
                          pattern: ^(((https?)|(oci))://)([\w\d\.\-]+)(:[\d]+)?(/.*)*$
                          type: string
                        semverConstraint:
                          description: 'SemverConstraint specifies constraints on
                            what new chart versions are permissible. This field is
                            optional. When left unspecified, there will be no constraints,
                            which means the latest version of the chart will always
                            be used. Care should be taken with leaving this field
                            unspecified, as it can lead to the unanticipated rollout
                            of breaking changes. More info: https://github.com/masterminds/semver#checking-version-constraints'
                          type: string
                      type: object
                    git:
                      description: Git describes a subscriptions to a Git repository.
                      properties:
                        allowTags:
                          description: AllowTags is a regular expression that can
                            optionally be used to limit the tags that are considered
                            in determining the newest commit of interest. The value
                            in this field only has any effect when the CommitSelectionStrategy
                            is Lexical, NewestTag, or SemVer. This field is optional.
                          type: string
                        branch:
                          description: Branch references a particular branch of the
                            repository. The value in this field only has any effect
                            when the CommitSelectionStrategy is NewestFromBranch or
                            left unspecified (which is implicitly the same as NewestFromBranch).
                            This field is optional. When left unspecified, (and the
                            CommitSelectionStrategy is NewestFromBranch or unspecified),
                            the subscription is implicitly to the repository's default
                            branch.
                          minLength: 1
                          pattern: ^\w+([-/]\w+)*$
                          type: string
                        commitSelectionStrategy:
                          default: NewestFromBranch
                          description: CommitSelectionStrategy specifies the rules
                            for how to identify the newest commit of interest in the
                            repository specified by the RepoURL field. This field
                            is optional. When left unspecified, the field is implicitly
                            treated as if its value were "NewestFromBranch".
                          enum:
                          - Lexical
                          - NewestFromBranch
                          - NewestTag
                          - SemVer
                          type: string
                        ignoreTags:
                          description: IgnoreTags is a list of tags that must be ignored
                            when determining the newest commit of interest. No regular
                            expressions or glob patterns are supported yet. The value
                            in this field only has any effect when the CommitSelectionStrategy
                            is Lexical, NewestTag, or SemVer. This field is optional.
                          items:
                            type: string
                          type: array
                        insecureSkipTLSVerify:
                          description: InsecureSkipTLSVerify specifies whether certificate
                            verification errors should be ignored when connecting
                            to the repository. This should be enabled only with great
                            caution.
                          type: boolean
                        repoURL:
                          description: URL is the repository's URL. This is a required
                            field.
                          minLength: 1
                          pattern: ^https://(\w+([\.-]\w+)*@)?\w+([\.-]\w+)*(:[\d]+)?(/.*)?$
                          type: string
                        semverConstraint:
                          description: SemverConstraint specifies constraints on what
                            new tagged commits are considered in determining the newest
                            commit of interest. The value in this field only has any
                            effect when the CommitSelectionStrategy is SemVer. This
                            field is optional. When left unspecified, there will be
                            no constraints, which means the latest semantically tagged
                            commit will always be used. Care should be taken with
                            leaving this field unspecified, as it can lead to the
                            unanticipated rollout of breaking changes.
                          type: string
                      type: object
                    image:
                      description: Image describes a subscription to container image
                        repository.
                      properties:
                        allowTags:
                          description: AllowTags is a regular expression that can
                            optionally be used to limit the image tags that are considered
                            in determining the newest version of an image. This field
                            is optional.
                          type: string
                        gitRepoURL:
                          description: GitRepoURL optionally specifies the URL of
                            a Git repository that contains the source code for the
                            image repository referenced by the RepoURL field. When
                            this is specified, Kargo MAY be able to infer and link
                            to the exact revision of that source code that was used
                            to build the image.
                          pattern: ^https://(\w+([\.-]\w+)*@)?\w+([\.-]\w+)*(:[\d]+)?(/.*)?$
                          type: string
                        ignoreTags:
                          description: IgnoreTags is a list of tags that must be ignored
                            when determining the newest version of an image. No regular
                            expressions or glob patterns are supported yet. This field
                            is optional.
                          items:
                            type: string
                          type: array
                        imageSelectionStrategy:
                          default: SemVer
                          description: ImageSelectionStrategy specifies the rules
                            for how to identify the newest version of the image specified
                            by the RepoURL field. This field is optional. When left
                            unspecified, the field is implicitly treated as if its
                            value were "SemVer".
                          enum:
                          - Digest
                          - Lexical
                          - NewestBuild
                          - SemVer
                          type: string
                        platform:
                          description: Platform is a string of the form <os>/<arch>
                            that limits the tags that can be considered when searching
                            for new versions of an image. This field is optional.
                            When left unspecified, it is implicitly equivalent to
                            the OS/architecture of the Kargo controller. Care should
                            be taken to set this value correctly in cases where the
                            image referenced by this ImageRepositorySubscription will
                            run on a Kubernetes node with a different OS/architecture
                            than the Kargo controller. At present this is uncommon,
                            but not unheard of.
                          type: string
                        repoURL:
                          description: RepoURL specifies the URL of the image repository
                            to subscribe to. The value in this field MUST NOT include
                            an image tag. This field is required.
                          minLength: 1
                          pattern: ^(\w+([\.-]\w+)*(:[\d]+)?/)?(\w+([\.-]\w+)*)(/\w+([\.-]\w+)*)*$
                          type: string
                        semverConstraint:
                          description: 'SemverConstraint specifies constraints on
                            what new image versions are permissible. The value in
                            this field only has any effect when the ImageSelectionStrategy
                            is SemVer or left unspecified (which is implicitly the
                            same as SemVer). This field is also optional. When left
                            unspecified, (and the ImageSelectionStrategy is SemVer
                            or unspecified), there will be no constraints, which means
                            the latest semantically tagged version of an image will
                            always be used. Care should be taken with leaving this
                            field unspecified, as it can lead to the unanticipated
                            rollout of breaking changes. Refer to Image Updater documentation
                            for more details. More info: https://github.com/masterminds/semver#checking-version-constraints'
                          type: string
                      type: object
                  type: object
                minItems: 1
                type: array
            type: object
          status:
            description: Status describes the Warehouse's most recently observed state.
            properties:
              error:
                description: Error describes any errors that are preventing the Warehouse
                  controller from polling repositories to discover new Freight.
                type: string
              observedGeneration:
                description: ObservedGeneration represents the .metadata.generation
                  that this Warehouse was reconciled against.
                format: int64
                type: integer
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
