---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.17.3
  name: clusterpromotiontasks.kargo.akuity.io
spec:
  group: kargo.akuity.io
  names:
    kind: ClusterPromotionTask
    listKind: ClusterPromotionTaskList
    plural: clusterpromotiontasks
    shortNames:
    - clusterpromotask
    - clusterpromotasks
    singular: clusterpromotiontask
  scope: Cluster
  versions:
  - additionalPrinterColumns:
    - jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1alpha1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            description: |-
              APIVersion defines the versioned schema of this representation of an object.
              Servers should convert recognized schemas to the latest internal value, and
              may reject unrecognized values.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#resources
            type: string
          kind:
            description: |-
              Kind is a string value representing the REST resource this object represents.
              Servers may infer this from the endpoint the client submits requests to.
              Cannot be updated.
              In CamelCase.
              More info: https://git.k8s.io/community/contributors/devel/sig-architecture/api-conventions.md#types-kinds
            type: string
          metadata:
            type: object
          spec:
            description: |-
              Spec describes the desired transition of a specific Stage into a specific
              Freight.
            properties:
              steps:
                description: |-
                  Steps specifies the directives to be executed as part of this
                  PromotionTask. The steps as defined here are inflated into a
                  Promotion when it is built from a PromotionTemplate.
                items:
                  description: PromotionStep describes a directive to be executed
                    as part of a Promotion.
                  properties:
                    as:
                      description: As is the alias this step can be referred to as.
                      type: string
                    config:
                      description: |-
                        Config is opaque configuration for the PromotionStep that is understood
                        only by each PromotionStep's implementation. It is legal to utilize
                        expressions in defining values at any level of this block.
                        See https://docs.kargo.io/user-guide/reference-docs/expressions for details.
                      x-kubernetes-preserve-unknown-fields: true
                    continueOnError:
                      description: |-
                        ContinueOnError is a boolean value that, if set to true, will cause the
                        Promotion to continue executing the next step even if this step fails. It
                        also will not permit this failure to impact the overall status of the
                        Promotion.
                      type: boolean
                    if:
                      description: |-
                        If is an optional expression that, if present, must evaluate to a boolean
                        value. If the expression evaluates to false, the step will be skipped.
                        If the expression does not evaluate to a boolean value, the step will be
                        considered to have failed.
                      type: string
                    retry:
                      description: Retry is the retry policy for this step.
                      properties:
                        errorThreshold:
                          description: |-
                            ErrorThreshold is the number of consecutive times the step must fail (for
                            any reason) before retries are abandoned and the entire Promotion is marked
                            as failed.

                            If this field is set to 0, the effective default will be a step-specific
                            one. If no step-specific default exists (i.e. is also 0), the effective
                            default will be the system-wide default of 1.

                            A value of 1 will cause the Promotion to be marked as failed after just
                            a single failure; i.e. no retries will be attempted.

                            There is no option to specify an infinite number of retries using a value
                            such as -1.

                            In a future release, Kargo is likely to become capable of distinguishing
                            between recoverable and non-recoverable step failures. At that time, it is
                            planned that unrecoverable failures will not be subject to this threshold
                            and will immediately cause the Promotion to be marked as failed without
                            further condition.
                          format: int32
                          type: integer
                        timeout:
                          description: |-
                            Timeout is the soft maximum interval in which a step that returns a Running
                            status (which typically indicates it's waiting for something to happen)
                            may be retried.

                            The maximum is a soft one because the check for whether the interval has
                            elapsed occurs AFTER the step has run. This effectively means a step may
                            run ONCE beyond the close of the interval.

                            If this field is set to nil, the effective default will be a step-specific
                            one. If no step-specific default exists (i.e. is also nil), the effective
                            default will be the system-wide default of 0.

                            A value of 0 will cause the step to be retried indefinitely unless the
                            ErrorThreshold is reached.
                          type: string
                      type: object
                    task:
                      description: |-
                        Task is a reference to a PromotionTask that should be inflated into a
                        Promotion when it is built from a PromotionTemplate.
                      properties:
                        kind:
                          description: |-
                            Kind is the type of the PromotionTask. Can be either PromotionTask or
                            ClusterPromotionTask, default is PromotionTask.
                          enum:
                          - PromotionTask
                          - ClusterPromotionTask
                          type: string
                        name:
                          description: Name is the name of the (Cluster)PromotionTask.
                          maxLength: 253
                          minLength: 1
                          pattern: ^[a-z0-9]([-a-z0-9]*[a-z0-9])?(\.[a-z0-9]([-a-z0-9]*[a-z0-9])?)*$
                          type: string
                      required:
                      - name
                      type: object
                    uses:
                      description: Uses identifies a runner that can execute this
                        step.
                      minLength: 1
                      type: string
                    vars:
                      description: |-
                        Vars is a list of variables that can be referenced by expressions in
                        the step's Config. The values override the values specified in the
                        PromotionSpec.
                      items:
                        description: |-
                          ExpressionVariable describes a single variable that may be referenced by
                          expressions in the context of a ClusterPromotionTask, PromotionTask,
                          Promotion, AnalysisRun arguments, or other objects that support expressions.

                          It is used to pass information to the expression evaluation engine, and to
                          allow for dynamic evaluation of expressions based on the variable values.
                        properties:
                          name:
                            description: Name is the name of the variable.
                            minLength: 1
                            pattern: ^[a-zA-Z_]\w*$
                            type: string
                          value:
                            description: |-
                              Value is the value of the variable. It is allowed to utilize expressions
                              in the value.
                              See https://docs.kargo.io/user-guide/reference-docs/expressions for details.
                            type: string
                        required:
                        - name
                        type: object
                      type: array
                  type: object
                  x-kubernetes-validations:
                  - message: PromotionTask step must have uses set and must not reference
                      another task
                    rule: has(self.uses) && !has(self.task)
                minItems: 1
                type: array
              vars:
                description: |-
                  Vars specifies the variables available to the PromotionTask. The
                  values of these variables are the default values that can be
                  overridden by the step referencing the task.
                items:
                  description: |-
                    ExpressionVariable describes a single variable that may be referenced by
                    expressions in the context of a ClusterPromotionTask, PromotionTask,
                    Promotion, AnalysisRun arguments, or other objects that support expressions.

                    It is used to pass information to the expression evaluation engine, and to
                    allow for dynamic evaluation of expressions based on the variable values.
                  properties:
                    name:
                      description: Name is the name of the variable.
                      minLength: 1
                      pattern: ^[a-zA-Z_]\w*$
                      type: string
                    value:
                      description: |-
                        Value is the value of the variable. It is allowed to utilize expressions
                        in the value.
                        See https://docs.kargo.io/user-guide/reference-docs/expressions for details.
                      type: string
                  required:
                  - name
                  type: object
                type: array
            required:
            - steps
            type: object
        required:
        - spec
        type: object
    served: true
    storage: true
    subresources: {}
