{{- if .Values.externalWebhooksServer.enabled }}
apiVersion: v1
kind: ServiceAccount
metadata:
  name: kargo-external-webhooks-server
  namespace: {{ .Release.Namespace }}
  labels:
    {{- include "kargo.labels" . | nindent 4 }}
    {{- include "kargo.externalWebhooksServer.labels" . | nindent 4 }}
  {{- with (mergeOverwrite (deepCopy .Values.global.serviceAccount.annotations) .Values.externalWebhooksServer.serviceAccount.annotations) }}
  annotations:
  {{- toYaml . | nindent 4 }}
  {{- end }}
{{- end }}
