name: CI

on:
  pull_request:
    branches:
    - main
  push:
    branches:
    - main

jobs:

  test-unit:
    runs-on: ubuntu-latest
    container:
      image: golang:1.20.2-bullseye
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: /go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Allow access to private modules
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: git config --global url."https://krancour:${GH_TOKEN}@github.com".insteadOf https://github.com
    - name: Run unit tests
      run: make test-unit
    - name: Upload coverage reports
      uses: codecov/codecov-action@v3
      with:
        token: ${{ secrets.CODECOV_TOKEN }}

  lint:
    runs-on: ubuntu-latest
    container:
      image: golang:1.20.2-bullseye
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: /go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Allow access to private modules
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: git config --global url."https://krancour:${GH_TOKEN}@github.com".insteadOf https://github.com
    - name: golangci-lint
      uses: golangci/golangci-lint-action@v3
      with:
        version: v1.51.2

  check-codegen:
    runs-on: ubuntu-latest
    container:
      image: golang:1.20.2-bullseye
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - uses: actions/cache@v3
      with:
        path: /go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-
    - name: Allow access to private modules
      env:
        GH_TOKEN: ${{ secrets.GH_TOKEN }}
      run: git config --global url."https://krancour:${GH_TOKEN}@github.com".insteadOf https://github.com
    - name: Install buf
      run: go install github.com/bufbuild/buf/cmd/buf@v1.15.1
    - name: Install controller-gen
      run: go install sigs.k8s.io/controller-tools/cmd/controller-gen@v0.11.3
    - name: Install go-to-protobuf
      run: |
        go install k8s.io/code-generator/cmd/go-to-protobuf@v0.27.1
        go install k8s.io/code-generator/cmd/go-to-protobuf/protoc-gen-gogo@v0.27.1
    - name: Run Codegen
      run: make codegen
    - name: Git stuff
      # As of go 1.20, this seems to be necessary for invoking git commands
      # within the container
      run: git config --global --add safe.directory /__w/kargo/kargo
    - name: Check nothing has changed
      run: git diff --exit-code -- .

  lint-charts:
    runs-on: ubuntu-latest
    container:
      image: golang:1.20.2-bullseye
    steps:
    - name: Checkout code
      uses: actions/checkout@v3
    - name: Install linter
      run: |
        cd /usr/local/bin
        curl -sSfL https://get.helm.sh/helm-v3.10.0-linux-amd64.tar.gz \
        | tar xvz linux-amd64/helm --strip-components=1
    - name: Run linter
      run: make lint-charts

  build:
    needs: [test-unit, lint, check-codegen, lint-charts]
    runs-on: ubuntu-latest
    steps:
    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2
    - name: Build
      uses: docker/build-push-action@v3
      with:
        platforms: linux/amd64,linux/arm64
        push: false
        cache-from: type=gha
        cache-to: type=gha,mode=max
